.footer{
	background-color: black;
	.form_footer{
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		._wrap_form{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: calc(100% - 8rem);
			margin: auto;
			padding: 16.5625rem 2.8125rem;
			@include mediaMaxWidth(1024px){
				width: calc(100% - 2rem);
				padding: 16.5625rem 1rem;
			}
			@include mediaMaxWidth(480px){
				flex-wrap: wrap;
			}
			._left{
				color: #fff;
				width: 50%;
				@include mediaMaxWidth(480px){
					width: 100%;
					margin-bottom: 3rem;
				}
				._title{
					text-transform: uppercase;
					font-family: 'Quicksand-Regular';
					font-size: 3rem;
					margin-bottom: 17px;
					strong{
						font-family: 'Quicksand-Bold';
					}
				}
				._sub{
					font-size: 1.375rem;
					font-family: 'Quicksand-Regular';
				}
			}
			._right{
				width: 50%;
				padding-left: 6.25rem;
				@include mediaMaxWidth(480px){
					width: 100%;
					padding-left: 0;
				}
				form{
					display: flex;
					input{
						width: calc(100% - 10.75rem);
						height: 2.875rem;
						background-color: #e4e4e4;
						border: none;
						outline: 0;
						display: block;
						padding-left: 20px;
						font-weight: bold;
						font-family: 'Quicksand-Regular';
						font-size: 1.375rem;
						
						&::placeholder{
							font-size: 1.375rem;
							color: black;
							font-weight: bold;
							font-family: 'Quicksand-Regular';
						}

					}
					button{
						width: 10.75rem;
						height: 2.875rem;
						text-transform: uppercase;
						color: #fff;
						background-color: #b58f5a;
						border: none;
						outline: 0;
						display: block;
						font-size: 1.375rem;
						font-family: 'Quicksand-Bold';
					}
				}
			}
		}
	}
	.bot_footer{
		width: calc(100% - 8rem);
		padding:6rem 2.8125rem;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		@include mediaMaxWidth(1024px){
			width: calc(100% - 2rem);
			padding: 6rem 1rem;
		}
		.block_items{
			width: calc(100% / 4) ;
			@include mediaMaxWidth(480px){
				width: 100%;
			}
			a{
				display: block;
				text-decoration: none;
				color: #fff;
				font-family: 'Quicksand-Regular';
				margin-bottom: 13px;
				font-size: 1.125rem;
				&:hover{
					color: #CF9848;
				}

			}
			._title_sm{
				text-transform: uppercase;
				font-family: 'Quicksand-Bold';
				margin-bottom: 10px;
				&:hover{
					color: #ffff;
				}
			}
			&:nth-child(1){
				display: flex;
				justify-content: center;
				// align-items: center;
				@include mediaMaxWidth(480px){
					margin-bottom: 3rem;
				}
				._logo{
					width: 10.375rem;
					img{
						display: block;
						width: 100%;
						height: auto;
					}
				}
			}
			&:nth-child(2){
				width: calc((100% / 4) * 2);
				display: flex;
				justify-content: space-between;
				padding-right: 9.375rem;
				@include mediaMaxWidth(480px){
					width: 100%;
					padding-right: 0;
					margin-bottom: 3rem;
				}
			}
			&:nth-child(3){
				._title_sm{
					color: #ffff;
					font-family: 'Quicksand-Bold';
				}
				._wrap_icon{
					display: flex;
					a{
						display: flex;
						justify-content: center;
						align-items: center;
						margin-right: 0.9375rem;
						width: 2rem;
						height: 2rem;
						border-radius: 50%;
						border: solid 1px #fff;
						font-size: 0.9375rem;
						&:hover{
							border-color: #CF9848;
						}
					}
				}
			}
		}
	}
}