body {
	padding-top: 6.7rem;
}

header{
	position: fixed;
	z-index: 111111;
	top: 0;
	left: 0;
	// &:not(.is-page) {
	// }
	// &.is-page {
	// 	position: relative;
	// }
	background: #000;
	display: flex!important;
	padding: 0 4rem;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	@media (max-width: 1600px){
		.logo-header{
			img{
				width: 8rem;
			}
		}
	}
	@media (max-width: 768px){
		.logo-header{
			img{
				width: 8rem;

				@media (max-width: 768px){
					width: 6rem;
				}
			}
		}
	}
	@media (max-width: 768px){
		flex-direction: column;
		height: auto;
		padding: 0;
		background: transparent;
		&:before{
			content: "";
			width: 100%;
			height: 0;
			padding-bottom: 55px;
			background: #000;
			transition: 1s;
			top: 0;
			left: 0;

			transition: 1s;
		}
	}
	.logo-header{
		@media (max-width: 768px){
			position: absolute;
			left: 1rem;
			top: 1rem;
			z-index: 1;
			transition: 0.4s;
		}
		img{
			width: 98px;
			margin: 10px 0;

			@media (max-width: 768px){
				width: 6rem;
			}
		}
	}
	.form-search{
		position: relative;
		transition: 0.4s;
		@media (max-width: 768px){
			position: absolute;
			right: 11rem;
			top: 1.2rem;
		}
		@media (max-width: 480px){
			right: 16rem;
		}
		i {
			font-size: 21px;
		}
		input{
			background-color: transparent;
			border: 1px solid #7D7D7D;
			color: white;
			outline: 0;
			width: 25.875rem;
			padding: 0 0 0 48px;
			height: 36px;
			@media (max-width: 768px){
				padding: 1.25rem 5rem 1.25rem 1.5rem;
				border-radius: 5px;
				opacity: 0;
				visibility: hidden;
				transition: 0.4s;

			}
			@media (max-width: 480px){
				width: auto;
				position: fixed;
				top: 6rem;
				left: 50%;
				transform: translateX(-50%);
				width: 70%;
				background: #000;
			}
		}
		button{
			position: absolute;
			top: 0;
			left: 0;
			background: transparent;
			color: rgba(255, 255, 255, 0.541);
			border: none;
			font-size: 1.5rem;
			height: 100%;
			width: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			@media (max-width: 768px){
				left: unset;
				color: white;
				font-size: 2rem;
				outline: 0;
				right: 5rem;
				top: -0.2rem;
			}
			@media (max-width: 480px){
				right: 0;
				top: 0.5rem;
			}
		}
		@media (max-width: 768px){
			&.click--in{
				margin-right: 1rem;
				input{
					opacity: 1;
					visibility: visible;
				}
			}
		}
		@media (max-width: 480px){
			&.click--in{
				input{
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	.menu-page{
		display: flex;
		margin: 0;
		padding: 0;
		@media (max-width: 768px){
			position: fixed;
			width: calc(100% - 4rem);
			height: calc(100% - 18rem);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			flex-direction: column;
			justify-content: center;
			align-items: center;
			opacity: 0;
			visibility: hidden;
			transition: 1s;
		}
		li{
			list-style: none;
			position: relative;
			text-align: center;
			@media (max-width: 768px){
				margin: 0.5rem 0;
			}
			.menu-item{
				font-size: 1.5rem;
				color: rgba(207, 152, 72, 0.871);
				text-transform: uppercase;
				line-height: 1.2;
				color: white;
				margin: 0 27px;
				text-decoration: none;
				transition : 0.4s;
				padding: 33px 0;
				display: block;
				@media (max-width: 1600px){
					font-size: 1.2rem;
				}
				@media (max-width: 768px){
					margin: 0;
				}
				&:hover{
					color: #CF9848;
				}
			}
			.sub-menu{
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				background: white;
				min-width: 150%;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				z-index: 1;
				border-top: 2px solid #cf9848;
				@media (max-width: 768px){
					position: relative;
					opacity: 1;
					visibility: visible;
					top: unset;
					left: unset;
					background: transparent;
				}
				li{
					padding: 12px 25px;
					transition : 0.4s;
					&:hover{
						background: #F2F2F2;
						@media (max-width: 768px){
							background: transparent;
						}
						a{
							color:  #CF9848;
						}
					}
					@media (max-width: 768px){
						background: transparent;
					}
					a{
						text-transform: capitalize;
						color: black;
						margin: 0;    
						width: max-content;
						display: inline-block;
						padding: 0;
						@media (max-width: 768px){
							color: white;
							padding: 0;
						}
					}
				}
			}
			&:hover{
				.sub-menu{
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	.sign-shop{
		position: relative;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		@media (max-width : 768px){
			position: absolute;
			right: 6rem;
			top: 2rem;
		}
		.material-icons{
			font-size: 1.7rem;
			color: white;
			@media (max-width : 768px){
				font-size: 2rem;
			}
		}
		.dropdown-user{
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			background: #fff;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 190px;
			z-index: 1;
			opacity: 0;
			visibility: hidden;
			border-top: 2px solid #cf9848;
			a {
				color: black;
				font-size: 1.2rem;
				text-decoration: none;
				display: inline-block;
				text-align: center;
				padding: 12px 25px;
				width: 100%;
				transition: 0.4s;
				&:hover{
					background: #F2F2F2;
					color: #CF9848;
				}
			}
		}
		li {
			list-style: none;
			> a {
				display: block;
				padding: 29px 20px;
			}
		}
		li:nth-of-type(1) {
			.material-icons{
				color: black;
				background: white;
				border-radius: 50%;
				@media (max-width: 768px){
					margin-right: 1rem;
				}
			}
			&:hover{
				.dropdown-user{
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
	&.click--in{
		height: 100%;
		padding: 0;
		&:before{
			padding-bottom: 100vh;
		}
		.sign-shop{
		}
		.form-search{  
		}
		.menu-page{
			opacity: 1;
			visibility: visible;
		}
	}
	// &.scroll{
	// 	padding: 0.5rem 4rem;
	// 	box-shadow: 0px 1px 20px 0 black;
	// 	@media(max-width: 768px){
	// 		padding: 0;
	// 	}
	// 	.logo-header{
	// 		img{
	// 			width: 8rem;

	// 			@media (max-width: 768px){
	// 				width: 6rem;
	// 			}
	// 		}
	// 	}
	// }
}
.button-menu{
	@media (max-width: 768px){
		width: 2.5rem;
		top: 2rem;
		right: 2rem;
		height: 1.8rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		z-index: 999999;
		span{
			width: 100%;
			height: 2px;
			background: white;
		}
		&:before, &:after{
			width: 100%;
			height: 2px;
			background: white;
			position: absolute;
			left: 0;
			content: "";
			transition: 0.4s;
		}
		&:before{
			top: 0;
		}
		&:after{
			bottom: 0;
		}
		&.click--in{
			&:before,
			&:after {
				width: 113%;
			}
			&:before{
				top: -4px;
				transform-origin: 100% 0;
				transform: rotate(-45deg);
			}
			&:after{
				transform-origin: 100% 100%;
				transform: rotate(45deg);
			}
			span{
				opacity: 0;
			}
		}
	}
}


::-webkit-input-placeholder {
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.541);
	line-height: 1.2;
}

:-ms-input-placeholder {
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.541);
	line-height: 1.2;
}

::placeholder {
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.541);
	line-height: 1.2;
}
a{
	text-decoration: none !important;
}