.title-general{
	font-size: 1.75rem;
	font-family: 'quicksand-bold';
	color: rgba(0, 0, 0, 0.871);
	font-weight: bold;
	line-height: 1.414;
	border-bottom: 2px solid #3b3b3b;
}
.main-sigin{
	background: white;
	.page-banner{
		position: relative;
		&:before{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgb(0, 0, 0);
			opacity: 0.702;
			position: absolute;
		}
		.text-banner{
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			font-size: 2.1875rem;
			font-family: 'quicksand-bold';
			color: rgb(255, 255, 255);
			width: 80%;
			text-transform: uppercase;
			text-align: center;
		}
		img{
			width: 100%;
		}
	}
	.container{
		max-width: 1920px;
		padding: 5.5rem 4rem;
		@media (max-width: 768px){
			padding: 2rem;
		}
		@media (max-width: 480px){
			padding: 1rem 1rem 2.5rem;
		}
		.row{
			.menu-tab{
				padding: 0.75rem 2.125rem 0 0;
			}
			.input-info{
				padding: 0.75rem 0.75rem 0;
			}
			.title-general{
				line-height: 1;
				padding: 0 ;
				margin: 0 0 3rem 0;
				width: 100%;
				@media(max-width: 768px){
					font-size: 1.5em;    width: auto;
					line-height: 1.5;
				}
				@media(max-width: 480px){
					margin: 1rem 0 !important;
				}
			}
			.nav-link{
				font-size: 1.5rem;
				font-family: 'quicksand-regular';
				color: rgba(0, 0, 0, 0.871);
				line-height: 1.65;
				padding: 1rem;
				@media(max-width: 480px){
					padding: 0.5rem 1rem;
				}
				&.active{
					font-family: 'quicksand-bold';
				}
			}
			.form-control{
				border: 1px solid #979797;
				font-size: 1.5rem;
				font-family: 'quicksand-regular';
				line-height: 1.65;
				color: black;
				padding: 1rem 2rem;
				margin-bottom: 2.5rem;
				@media(max-width: 480px){
					margin-bottom: 1.5rem;
				}
				&::placeholder{
					font-size: 1.5rem;
				}
			}
		}
	}

	.card-img-top{
		height: 0;
		padding-bottom: 100%;
		@media (max-width: 480px){
			margin-bottom: 2rem;
		}
	}

	.icon-heart{
		color: #d3a35e;
		font-size: 2rem;
	}
	.btn{
		&:hover{
			color: #b68b4e;
			background: white;
		}
	}
}
.account-detail{
	.btn{
		background-color:#d5ab6e;
		padding: 0.63rem 5.8rem;
		font-size: 1.875rem;
		font-family: 'quicksand-bold';
		line-height: 1.067;
		outline: 0;
		margin-top: 1.5rem;
		border: 1px solid #d5ab6e;
		color: white;
		@media (max-width: 768px){
			margin-top: 0;
		}
	}
}
.favorites, .category{
	.card {
		.icon-heart{
			top: 1rem;
			left: 1rem;
			line-height: 1;
			transition: 0.4s;
		}
		a{
			text-decoration: none;
		}
		.card-title{
			font-size: 1.25rem;
			font-family: 'quicksand-regular';
			font-weight: bold;
			color: rgba(0, 0, 0, 0.871);
			line-height: 1.6;
		}
		.card-text{
			span{
				font-size: 2.25rem;
				font-family: 'quicksand-bold';
				color: rgba(0, 0, 0, 0.871);
				line-height: 0.889;
			}
			.text-warning {
				color: #cf9848!important;
			}
		}
		.card-body{
			padding: 1.5rem 0;
		}
		&:hover{
			.icon-heart{
				color: white;
			}
		}
	}
}
.favorites{
	.row{
		@media(max-width: 480px){
			margin: 0px;
		}
	}
	.menu-tab, .input-info{
		@media (max-width: 480px){
			padding: 0!important;
		}
	}
	.row div{
		@media (max-width: 480px){
			padding: 0!important;
		}
	}
	.container{
		padding: 5.5rem 4rem 0;
		@media (max-width: 480px){
			padding: 2rem 2rem 0 2rem!important;
		}
	}
	.title-general{
		@media (max-width: 480px){
			margin: 0!important;
		}
	}
}
.history{
	.container{
		.row{
			@media (max-width: 480px){
				margin: 0;
			}
		}
	}
	.menu-tab{
		@media (max-width: 480px){
			padding: 0!important;
		}
	}
	.input-info{
		@media (max-width: 480px){
			overflow-x: scroll;
			overflow-y: scroll;
			height: 300px;
			border: 0.5px solid rgba(0, 0, 0, 0.2);
		}
		table{
			@media (max-width: 480px){
				display: inline-block;
				width: 625px;
			}
		}
	}
	tbody{
		padding-top: 3rem;
	}
	th {
		font-size: 1.875rem;
		font-family: 'quicksand-bold';
		color: rgba(0, 0, 0, 0.871);
		line-height: 1.65;
		border-bottom: 2px solid #3b3b3b!important;
		@media (max-width: 1024px){
			font-size: 1.2rem;
		}
		@media (max-width: 1024px){
			&:last-child{
				padding-bottom: 10px!important;
			}
		}
	}
	small{
		font-size: 1.25rem;
		font-family: 'quicksand-regular';
		color: rgba(0, 0, 0, 0.871);
		line-height: 1;
		@media (max-width: 1024px){
			font-size: 1rem;
		}
	}
	td{
		font-size: 1.25rem;
		font-family: 'quicksand-bold';
		color: rgba(0, 0, 0, 0.871);
		@media (max-width: 1024px){
			font-size: 1rem;
		}
	}
	.card-body{
		padding: 0 2rem;
	}
	.card-img{
		height: 0;
		padding-bottom: calc(100% / 3);
	}
	.card{
		.row{
			@media(max-width: 480px){
				flex-wrap: nowrap;
			}
		}

		.card-title{
			font-size: 1.25rem!important;
			@media (max-width: 1024px){
				font-size: 1rem;
			}
		}
	}
	tr{
		&:nth-of-type(2n+1){
			td{
				padding-top: 3rem!important;
				padding-bottom: 2rem!important;
				@media (max-width: 1024px){
					padding: 2rem 0 1rem!important;
				}
			}
		}
		td, th{
			&:first-child{
				text-align: left!important;
			}
			&:last-child{
				text-align: right!important;
			}
		}
		th{
			@media (max-width: 480px){
				padding-right: 1rem;
				&:last-child{
					padding: 0;
				}
			}
		}
	}
	::-webkit-scrollbar {
		height: 10px;
	}
	::-webkit-scrollbar-track {
		// background: white; 
	}
	::-webkit-scrollbar-thumb {
		background: #d3a35e;
	}
}
.cate-detail{
	font-size: 1.25rem;
	font-family: "quicksand-bold";
	color: rgba(0, 0, 0, 0.871);
	.container{
		@media (max-width: 480px){
			padding: 1rem!important;
		}
	}
	.title-cate-detail{
		font-size: 2.25rem;
		font-family: "quicksand-bold";
		color: rgba(0, 0, 0, 0.871);
	}
	.price{
		font-size: 2.25rem;
		font-family: "quicksand-regular";
		color: rgba(0, 0, 0, 0.871);
		margin: 2rem 0;
		line-height: 1;
		@media (max-width: 480px){
			margin: 1rem 0;
		}
	}
	.btn-up, .btn-down{
		font-size: 2rem;
		margin-right: 0!important;
	}
	.form-group{
		-moz-user-select: none;
		-ms-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-webkit-touch-callout: none;
		input{
			font-size: 1.25rem;
			font-family: "quicksand-bold";
			color: rgba(0, 0, 0, 0.541);
			line-height: 1.65;
			width: 2.625rem;
			height: 2.625rem;
		}
	}
	.card-body{
		padding: 1rem 0;
		font-family: "quicksand-bold";
		span{
			font-size: 2.25rem;
			color: rgba(0, 0, 0, 0.871);
		}
		a{
			font-size: 20px;
			color: rgba(0, 0, 0, 0.871);
		}
	}
	.shop-now{
		border: 1px solid;
	}
	.gallery-top{
		a.mdi{
			font-size: 3.75rem;
			color: #908d8c;
			bottom: 1rem;
			left: 1rem;
			z-index: 1;
			line-height: 1;
		}
	}
	.gallery-thumbs{
		width: 80%;
		margin-top: 3.25rem;
		@media (max-width: 480px){
			width: 100%;
			margin-top: 1rem;
		}
		.swiper-slide{
			transition: 0.4s;
		}
	}
	.photo-bg{
		padding-bottom: 100%;
	}
	.swiper-button-next span{
		left: 0;
	}
	.swiper-button-prev span{
		right: 0;
	}
	.swiper-button-next, .swiper-button-prev{
		color: transparent;
		outline: 0;
		@media (max-width: 480px){
			display: none;
		}
		span{
			color: #212121;
			font-size: 4.5rem;
		}
	}
	.row{
		@media (max-width: 768px){margin: 0;
		}
		.col-md-7{
			padding: 0;
			padding-right: 8%;
			@media (max-width: 768px){
				padding-right: 30px;
			}
			@media (max-width: 480px){
				padding-right: 0;
			}
		}
		.col-md-5{
			@media (max-width: 768px){
				padding: 0;
			}
		}
	}
	.title-cate{
		font-size: 1.5rem;
		font-family: "quicksand-regular";
		color: rgba(0, 0, 0, 0.871);
	}
}
.category{
	.title-general{
		padding-bottom: 0.5rem!important;
	}
	.row{
		@media (max-width: 768px){
			margin: 0;
		}
		.col-md-3{
			@media (max-width: 768px){
				padding: 0;
			}
		}
		.col-md-9{
			.brcrumb{
				font-size: 1.25rem;
				font-family: "quicksand-regular";
				font-weight: bold;
				color: rgba(0, 0, 0, 0.871);
			}
			@media (max-width: 480px){
				padding: 0;
				.row{
					.col-md-4{
						padding: 0;
					}
					.card-img-top{
						margin-bottom: 0;
					}
				}
			}
			nav{
				margin-right: -1rem;
			}
			.dropdown{    margin-top: -4px;
				button{
					font-size: 1.25rem;
					font-family: "quicksand-regular";
					padding:  0 0.5rem;
					outline: 0!important;
					margin-right: calc(-15px - 0.5rem);
					box-shadow: none;
					&:before{
						margin-left: 5px;
						font-size: 1.6rem;
					}
				}
				.dropdown-menu{
					left: unset !important;
					right: -1.3rem!important;
					font-family: "quicksand-regular";
				}
			}
			.card{
				.interactive{
					height: 0;
					padding-bottom: 50%;
					padding-top: 50%;
					background: rgba(0, 0, 0, 0.57);
					transition: 0.4s;
					opacity: 0;
					a.mdi{
						color: white;
						font-size: 1.5rem;
						margin: 0 0.5rem;
						transition: 0.4s;
						&:hover{
							color: #cf9848;
						}
					}
				}

				&:hover{
					.interactive{
						opacity: 1;
					}
				}
			}
		}
	}
	.accordion .btn{
		@media (max-width: 768px){
			padding: 1.25rem 3rem 1.25rem 0;
		}
	}
	.c-checkbox{
		font-size: 1.25rem;
		font-family: "quicksand-regular";
		font-weight: bold;
		span{
			width: 25px;
			height: 25px;
		}
		.checkmark:after {
			left: 8px;
			top: 2px;
			width: 8px;
			height: 16px;
		}
	}
	.pagination {
		.page-link{
			font-size: 1.25rem;
			font-family: "quicksand-bold";
			padding: 0;
			width: 30px;
			height: 30px;    
			color: black;
			text-align: center;
			line-height: 28px;
		}
	}
}
.accordion{
	font-family: "quicksand-regular";
	font-weight: bold;
	padding-left: 15px;
	.btn{
		font-size: 1.25rem;
		font-family: "quicksand-bold";
		color: rgba(0, 0, 0, 0.871);
		text-decoration: none;
		background: white;
		padding: 1.25rem 0;
	}
	.card-header{
		background: white;
		border-bottom: 1px solid rgba(111, 110, 112, 0.51);
	}
	.card-body{
		font-family: "quicksand-regular";
		font-weight: bold;
		padding: 1.5rem 2rem!important;
	}
	.card{
		border-top: 1px solid rgba(111, 110, 112, 0.51);
		&:last-child{
			border-bottom: none;
		}
		.more{
			display: inline-block;
			width: 15px;
			height: 15px;
			right: 1.25rem;
			top: 1.6rem;
			&:before, &:after {
				background: #000;
				content: "";
				position: absolute;
			}
			&:before{
				width: 100%;
				height: 2px;
				top: 7px;
				left: 0;
			}
			&:after {
				width: 2px;
				height: 100%;
				top: 0;
				left: 7px;
			}
			&.down{
				&:after{
					content: none!important;
				}
			}
		}
	}
}
.c-checkbox{
	height: 1rem;
	span{
		width: 30px;
		height: 30px;
		border: 2px solid;
		border-radius: 2px;
		background: white;
		&:after{
			left: 11px;
			top: 8px;
		}
	}
}
.scroll-top{
	font-size: 2rem;
	width: 35px;
	height: 35px;
	z-index: 111;
	bottom: 5rem;
	right: 2rem;
	background: white;
	transition: 0.4s;
	&:hover{
		color: white;
		background: #cf9848;
	}
	@media (max-width: 768px){
		bottom: 2rem;
	}
}
.creat-account{
	.title-general{
		margin-bottom: 3rem;
		@media (max-width: 480px){
			margin: 2rem auto;
		}
	}
	.inner{
		.btn{
			background-color: #d5ab6e;
			padding: 0.63rem 5.8rem;
			font-size: 1.875rem;
			font-family: 'quicksand-bold';
			box-shadow: unset;
			outline: 0;
			margin-top: 1.5rem;
		}
	}
	.form-check{
		label{
			font-size: 1.25rem;
			font-family: "quicksand-bold";
			color: rgba(0, 0, 0, 0.871);
			line-height: 1.65;
		}
		.c-checkbox{
			padding: 10px 20px;
			span{
				width: 23px;
				height: 23px;
				&:after{
					left: 8px;
					top: 4px;
				}
			}
		}
	}

	a{
		font-family: "quicksand-bold";
		color: rgba(0, 0, 0, 0.871);
		text-decoration: underline;
	}
	.already{
		font-size: 1.25rem;
		font-family: "quicksand-bold";
		color: rgba(0, 0, 0, 0.871);
		line-height: 1.65;
		margin-top: 2.5rem;
	}
	.description{
		font-size: 1.25rem;
		font-family: "quicksand-regular";
		color: rgb(0, 0, 0);
		line-height: 1.6;
		font-weight: bold;
		margin-bottom: 2rem;
	}
}