// ANH QUYẾT
.section-4{
	width: calc(100% - 8rem);
    margin: auto;
	padding: 2.8125rem;
	padding-bottom: 0;
	background: white;
	overflow: hidden;
	position: relative;
	@media (max-width: 1024px){
		width: calc(100% - 2rem);
		padding: 1rem;
		padding-bottom: 0;
	}
	._item{
		position: relative;
		margin-bottom: 2.8125rem;
		overflow: hidden;
		@include mediaMaxWidth(1024px){
			margin-bottom: 1rem;
		}
		&:hover{
			._img{
			    transform: scale(1.07) rotate(1deg);
			}
		}
		._img{
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			transition: 0.4s;
			// height: 710px;
		}
		._text{
			position: absolute;
			._title{
				text-transform: uppercase;
				font-size: 34px;
				font-family: 'Quicksand-Bold';
				margin-bottom: 0.9375rem;
			}
			._sub_title{
				font-size: 1.375rem;
				font-family: 'Quicksand_Dash';
				font-family: 'Quicksand-Bold';
				margin-bottom: 1.6875rem;
			}
			a{
				display: block;
				width: 7.875rem;
				height: 2.8125rem;
				line-height: 2.8125rem;
				text-transform: uppercase;
				font-family: 'Quicksand-Bold';
				font-size: 1.125rem;
				text-decoration: none;
				color: #fff;
				background-color: #cf9848;
				text-align: center;
				position: relative;
				overflow: hidden;
				&:after{
				    content: "";
				    position: absolute;
				    width: 100%;
				    height: 123%;
				    top: 0;
				    left: -100%;
				    background-color: #ffffff54;
				    transform-origin: 50% 50%;
				    transform: rotate(-55deg);
				    transition: 0.4s;
				}
				&:hover{
					&:after{
						left: 100%; 
					}
				}
			}
		}
		&:nth-of-type(3n + 1){
			width: 100%;
			._img{
				padding-top: percentage(27.5 / 106.375);
				@include mediaMaxWidth(480px){
					padding-top: 0;
					height: 193px;
				}
			}
			._text{
				width: 100%;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				padding-left: 2.5rem;
				color: #fff;
				width: 100%;
				@include mediaMaxWidth(1366px){
				}
				@include mediaMaxWidth(480px){
					padding-right: 3rem

				}
				._title{
					font-size: 2.25rem;
				}
				._sub_title{
					position: relative;
					padding-left: 6.25rem;
					&:after{
						content: "";
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 0;
						background-color: #fff;
						width: 4.5625rem;
						height: 2px;
					}
				}
				a{
					
				}
			}
		}
		&:nth-of-type(3n + 2){
			width: calc((100% - 2.8125rem) / 2.856896);
			float: left;
			margin-right: 2.8125rem;
			@include mediaMaxWidth(1024px){
				width: calc((100% - 1rem) / 3.172413);
				margin-right: 1rem;
			}
			@include mediaMaxWidth(480px){
				width: 100%;
			}
			._img{
				padding-top: percentage(44.5 / 36.25);
				@include mediaMaxWidth(480px){
					padding-top: 100%;
				}
			}
			._text{
				width: 100%;
				top: 4.375rem;
				left: 0px;
				padding-left: 2.5rem;
				color: black;
				@include mediaMaxWidth(1366px){
					padding-left: 1.875rem;
					padding-right: 1.875rem;
					top: 3.125rem;
				}
				._title{
					font-size: 2.25rem;
				}
				._sub_title{
					
				}
				a{
					
				}
			}
		}
		&:nth-of-type(3n){
			width: calc((100% - 2.8125rem) / 1.538532);
			float: left;
			@include mediaMaxWidth(1024px){
				width: calc((100% - 1rem) / 1.460317);
			}
			@include mediaMaxWidth(480px){
				width: 100%;
			}
			._img{
				padding-top: percentage(44.5 / 67.3125);
				@include mediaMaxWidth(1024px){
					padding-top: percentage(44.5 / 78.75);
				}
				@include mediaMaxWidth(480px){
					padding-top: 100%;
				}
			}
			._text{
				width: 100%;
				bottom: 3.75rem;
				right: 0px;
				padding-right: 4.8125rem;
				color: black;
				text-align: right;
				@include mediaMaxWidth(1366px){
					padding-right: 2.5rem;
					padding-left: 1.875rem;
					bottom: 2.5rem;
				}
				._title{
					font-size: 2.25rem;
				}
				._sub_title{
					
				}
				a{
					margin-left: auto;
					margin-right: 0;
				}
			}
		}
	}
}
.section-5{
	width: calc(100% - 8rem);
    margin: auto; 
    padding: 2.8125rem;
    margin-top: 5.6875rem;
    margin-bottom: 5.6875rem;
    @include mediaMaxWidth(1024px){
    	width: calc(100% - 2rem);
    	padding-left: 1rem;
    	padding-right: 1rem;
    }
    @include mediaMaxWidth(480px){
    	margin-top: 3rem;
    }
    ._title_container{
    	text-align: center;
    	text-transform: uppercase;
    	color: black;
    	font-size: 3rem;
    	font-family: 'Quicksand-Bold';
    	margin-bottom: 3.1875rem;
    	br{
    		display: none;
    		@include mediaMaxWidth(480px){
    			display: block;
    		}
    	}
    }
    .wrap_slide_s5{
    	position: relative;
    	._item{
    		display: flex;
    		flex-wrap: wrap;
    		padding-left: 7rem;
    		padding-right: 7rem;
    		@include mediaMaxWidth(768px){
    			padding-left: 3rem;
    			padding-right: 3rem;
    		}
    		@include mediaMaxWidth(480px){
    			padding-left: 0;
    			padding-right: 0;
    		}
    		._left{
    			text-align: right;
    			padding-right: 7rem;
    			width: calc(100% - 16.875rem);
    			@include mediaMaxWidth(768px){
    				padding-right: 3rem;
    			}
    			@include mediaMaxWidth(480px){
    				width: 100%;
    				padding-right: 0;
    				order: 2;
    			}
    			._content{
					font-size: 1.375rem;
					color: black;
					font-family: 'Quicksand-Regular';
					margin-bottom: 1.875rem;
					@include mediaMaxWidth(480px){
						text-align: justify;
					}
    			}
    			._name{
					text-transform: uppercase;
					font-size: 2.25rem;
					margin-bottom: 0.9375rem;
					font-family: 'Quicksand-Bold';
    			}
    			._position{
					font-size: 1.375rem;
					color: black;
					font-family: 'Quicksand-Regular';
    			}
    		}
    		._right{
				width: 16.875rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				@include mediaMaxWidth(480px){
    				width: 100%;
    				order: 1;
    				margin-bottom: 2rem;
    			}
				._avatar{
					padding-top: percentage(270 / 270);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
				}
    		}
    	}
    	.swiper-button-next:after, .swiper-button-prev:after{
    		display: none;
    	}
    	.swiper-button-next, .swiper-button-prev{
    		margin: 0;
    		top: 50%;
    		transform: translateY(-50%);
    		// background-color: pink;
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		outline: 0;
    		img{
    			width: 1.4375rem;
    			height: auto;
    		}
    	}
    	.swiper-button-next{
    		right: 0;
    	}
    	.swiper-button-prev{
    		left: 0;
    	}
    }
}