// THẢO
.title-general{
	font-size: 3rem;
	font-family: 'Quicksand-Bold';  
	color: rgb(0, 0, 0);
	font-weight: bold;
	line-height: 1.559;
	text-transform: uppercase;
	width: max-content; 
	width: -moz-max-content;
	width: -webkit-max-content;
	width: -o-max-content;
	margin: auto;
}
.photo-bg{
	background-position: center!important;
	background-size: cover!important;
	background-repeat: no-repeat!important;
}
.section-2, .section-3{
	width: calc(100% - 8rem);
	margin: auto;
	background: blue;
}
.section-1{
	margin-top: 7.75rem;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		top: -50px;
		left: 0;
		width: 100%;
		height: 50px;
		background: #000;
	}
	@media (max-width: 1600px){
		margin-top: 6.75rem;
	}
	@media (max-width: 768px){
		margin-top: 5.5rem;
	}
	.swiper-container{
		.swiper-slide{
			height: calc(100vh - 7.75rem);
			padding: 6rem 6.8125rem 0;
			text-align: right;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-end;
			@media (max-width: 1024px){
				padding: 2em;
			}
			@media (max-width: 768px){
				justify-content: flex-end;
				height: calc(100vh - 5.5rem);
			}
			.text-block{
				color: white;
				font-family: 'Quicksand-Regular';
				width: 55%;

				@media (max-width: 768px){
					width: 100%;
					text-align: center;
				}
				h2, h3,.shop-now{
					text-transform: uppercase;
				}
				h2{
					font-size: 3rem;
					line-height: 1.559;
					margin: 0;
					@media(max-width: 480px){
						text-shadow: 3px 3px 0px black;
					}
				}
				h3{
					font-size: 4.5rem;
					font-weight: bold;
					font-family: 'Quicksand-Bold';
					line-height: 1.039;
					margin: 1.5rem 0;
					@media (max-width: 768px){
						margin: 0;
					}
					@media(max-width: 480px){
						text-shadow: 3px 3px 0px black;
					}
				}
				p{
					font-size: 1.5rem;
					line-height: 1.25;
				}
			}
		}
	}
}

.shop-now{
	font-size: 1.875rem;
	font-weight: bold;
	line-height: 1.067;
	background: #B68B4E;
	color: white;
	display: inline-block;
	padding: 0.6rem 1.7rem;
	margin-top: 1.5rem;
	text-decoration: none;
	transition: 0.4s;
	&:hover{
		color: #B68B4E;
		background: white;
	}
}
.section-2{
	padding: 2.8125rem;
	background: white;
	overflow: hidden;
	margin-top: -8.625rem;
	position: relative;
	z-index: 2;
	@media (max-width: 1024px){
		width: calc(100% - 2rem);
		padding: 1rem!important;
	}
	@media (max-width: 768px){
		margin-top: 0;
	}
	.item-block{
		position: relative;
		width: calc((100% - 5.625rem) / 3);
		float: right;
		overflow: hidden;
		@media (max-width: 1440px){
			width: calc((100% - 3.75rem) / 3);
		}
		@media (max-width: 1024px){
			width: calc((100% - 2rem) / 3);
		}
		.photo-bg{
			width: 100%;
			height: 0;
			transition: 0.4s;
			padding-bottom: percentage(584/537.3333333);
		}
		.desc{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			color: white;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 3.5rem;
			width: 100%;
			height: 100%;
			@media (max-width: 480px){
				padding-top: 1rem;
			}
			h3{
				font-size: 2.25rem;
				font-family: 'Quicksand-Bold';
				font-weight: lighter;
				color: white;
				line-height: 1.096;
				text-transform: uppercase;
				@media (max-width: 768px){
					font-size: 1.5em;
				}
				@media (max-width: 480px){
					margin: 0;
				}
			}
			p {
				font-family: 'Quicksand-Light';
				font-size: 1.375rem;
				color: white;
				line-height: 1.375rem;
			}
		}
		&:nth-of-type(5n+1){
			float: left;
			margin-bottom: 2.8125rem;
			.desc{
				align-items: flex-end;
			}

			@media (max-width: 1440px){
				margin-bottom: 1.875rem;
			}
			@media (max-width: 1024px){
				margin-bottom: 1rem;
			}
		}
		&:nth-of-type(5n+2){
			width: calc((((100% - 5.625rem) / 3) * 2) + 2.8125rem);
			margin-bottom: 2.8125rem;

			@media (max-width: 1440px){
				margin-bottom: 1.875rem;
				width: calc((((100% - 3.75rem) / 3) * 2) + 1.875rem);
			}
			@media (max-width: 1024px){
				margin-bottom: 1rem;
				width: calc((((100% - 2rem) / 3) * 2) + 1rem);
			}
			.desc{
				align-items: flex-start;
			}
			.photo-bg{
				padding-bottom: percentage(364/1119.6666666);
			}
		}
		&:nth-of-type(5n+3){
			.desc{
				align-items: flex-start;
				h3, p{
					color: black;
				}
			}
		}
		&:nth-of-type(5n+4){
			margin-right: 2.5rem;

			@media (max-width: 1440px){
				margin-right: 1.875rem;
			}
			@media (max-width: 1024px){
				margin-right: 1rem;
			}
			.desc{
				align-items: flex-start;
			}
		}
		&:nth-of-type(5n){
			float: left;
			.photo-bg{
				padding-bottom: percentage(364/537.3333333);
				@media (max-width: 1440px){
					padding-bottom: percentage(370/537.3333333);
				}
				@media (max-width: 1440px){
					padding-bottom: percentage(364/537.3333333);
				}
				@media (max-width: 1024px){
					padding-bottom: 66.741935%;
				}
				@media (max-width: 768px){
					padding-bottom: 67%;
				}
			}
		}
		&:hover{
			.photo-bg{
				transform: scale(1.1) rotate(3deg);
			}
		}
	}
	.swiper-container{
		.item-block{
			float: unset!important;
			margin: 0 !important;
			.photo-bg{
				padding-bottom: 100%;
			}
			.desc{
				position: relative;
				width: auto;
				height: auto;
				h3, p{
					color: black;
				}
			}
		}
	}
}
.section-3{
	width: calc(100% - 8rem);
	margin: auto;
	padding: 4rem 2.8125rem 3.219rem;
	background: white;
	padding-top: 4.125rem;
	@media (max-width: 1024px){
		width: calc(100% - 2rem);
		padding: 1rem!important;
	}
	@media (max-width: 480px){
		padding-bottom: 0 !important;
	}
	.title-general{
		@media (max-width: 320px){
			font-size: 2rem;
		}
	}
	.product{
		display: flex;
		flex-wrap: wrap;
		margin-top: 2.125rem;	
		@media (max-width: 1024px){
			margin-top: 1rem;
		}
		._1item{
			width: calc((100% - 8.4375rem) / 4);
			margin-right: 2.8125rem;
			margin-bottom: 4rem;
			display: inline-block;
			text-decoration: none;
			overflow: hidden;
			&:nth-of-type(4n){
				margin-right: 0;
			}
			@media (max-width: 1024px){
				width: calc((100% - 3rem) / 4);
				margin-right: 1rem;
				margin-bottom: 1rem;
			}
			@media (max-width: 480px){
				width: 100%;
				margin-right: 0;
			}
			.photo-bg{
				width: 100%;
				height: 0;
				padding-bottom: 100%;
				transition : 0.4s;
			}
			.detail{
				font-family: 'Quicksand-Bold';
				padding-top: 2rem;  
				background: white;
				position: relative;
				@media (max-width: 1024px){
					padding-top: 0.5rem;
				}
				.name {
					font-size: 1.25rem;
					color: rgba(0, 0, 0, 0.871);
					text-transform: uppercase;
					line-height: 1;
					margin-bottom: 1rem;
					font-family: 'Quicksand-Bold';
					font-weight: bold;
					@media (max-width: 1024px){
						margin-bottom:  0;
					}
				}
				.price {
					font-size: 2.25rem;
					color: rgba(0, 0, 0, 0.871);
					font-weight: bold;
					text-transform: uppercase;
					line-height: 0.889;
				}
			}
			&:hover{
				.photo-bg{
					transform: scale(1.1) rotate(3deg);
				}
			}
		}
	}
}
body{
	background: #F2F2F2;
}

.--pc{
	@media(max-width: 480px){
		display: none;
	}
}
.--mobile{
	display: none;
	@media(max-width: 480px){
		display: block;
	}
}
html{
	font-family: 'Quicksand-Regular';
	@media(max-width: 1440px){
		font-size: 12px;
	}
	@media(max-width: 1024px){
		font-size: 10px;
	}
}